
<!DOCTYPE>
<HTML ng-app="YOUR_APP">
   <HEAD>
      <TITLE>
         Websocket AngularJs Protocol 
      </TITLE>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.js"></script>
       
       </HEAD>
  <!--<section ng-controller="SomeController">
    <ul ng-repeat="data in MyData.collection track by $index" >
      <li> {{ data }} </li>
    </ul>
  </section>  -->
  <script>
    angular.module('YOUR_APP', [
      'ngWebSocket' // you may also use 'angular-websocket' if you prefer
    ])
    //                          WebSocket works as well
    .factory('MyData', function($websocket) {
      // Open a WebSocket connection
      var dataStream = $websocket('ws://192.168.0.11:8090/data');

      var collection = [];

      dataStream.onMessage(function(message) {
        collection.push(JSON.parse(message.data));
      });

      var methods = {
        collection: collection,
        get: function() {
          dataStream.send(JSON.parse({ action: 'get' }));
        }
      };

      return methods;
    })
    .controller('SomeController', function ($scope, MyData) {
      $scope.MyData = MyData;
    });
  </script>
    
  <!--  <div class="list-group" ng-controller="SomeController">
    <ul ng-repeat="data in MyData.collection track by $index" >
     <li class="list-group-item"> {{ data }} </li> 
        <li class="list-group-item"> {{ data.device.name }} </li>
    </ul>
    
    </div> -->
   
    
    <div class="container" ng-controller="SomeController">
  <h2>Websocket Table</h2>
        <hr>
  <p>Websocket Reterival of data from the Debug Generator Set that sends the Dummy Set of JSON Format   </p>
  <table class="table table-striped table-hover table-condensed table-inverse">
    <thead>
      <tr>
        <th>Dev Name</th>
        <th>Dev ID</th>
        <th>Dev Category </th>
          
        <th>Cust Name</th>
        <th>Cust ID</th>
          
        <th>Voltage</th>
        <th>Current</th>
        <th>Pressure</th>
        <th>Fuel Level</th>
      <th>Temp </th> 
          
        <th>Status </th>  
          
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in MyData.collection track by $index">
        <td>{{data.device.name}}</td>
        <td>{{data.device.id}}</td>
        <td>{{data.device.category}}</td>
          
          <td>{{data.customer.name}}</td>
        <td>{{data.customer.id}}</td>
          
          <td>{{data.data.voltage}}</td>
          <td>{{data.data.current}}</td>
          <td>{{data.data.pressure}}</td>
          <td>{{data.data.fuel_level}}</td>
          <td>{{data.data.temperature}}</td> 
          
                 <td>{{data.status}}</td> 
          
           
          
          
          
          
       
          
          
          
           
          
      </tr>
    </tbody>
  </table>
</div>
    
    
    <div class="list-group" ng-controller="SomeController">
    <ul ng-repeat="data in MyData.collection track by $index" >
     <li class="list-group-item"> {{ data }} </li> 
     <!--   <li class="list-group-item"> {{ data.device.name }} </li> -->
    </ul>
    
    </div>
    
    
    
    
    
    
    
<BODY>
    
</BODY>
</HTML>